/* .font-size{
    font-size: 60px;
} */
/* footer  */
/* .social-media{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: 20px;
}
footer .social-media ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-bottom: 130px;
}
footer .social-media ul li a{
    text-decoration: none;
    color: #FFFFFF;
} */